<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.text_field :title, placeholder: "Blog Entry Title", class: "form-control" %>
  </div>

  <!--div class="form-group">
    <%= form.text_area :user_id, value: current_user.id %>
  </div>-->

  <div class="form-group">
    <%= form.text_area :blog_entry, placeholder: "Tell Us Something...", class: "form-control" %>
  </div>  

  <%= render 'form', comment: @comment %>
  
  <div class="actions">
    <%= form.submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>